#BuyerMeetingMainDiv{
    
}
#BuyerMeetingInnerDiv{
    /* padding: 10px; */
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 5px;
    background-color: white;
    width: 100%;
}
#BuyerMeetingHead{
    padding: 20px;
    display: flex;
    justify-content: start;
    gap: 12px;
}
.BuyerMeetingHeadDiv{
    color: rgba(149, 149, 149, 1);
    border: 1px solid rgba(236, 236, 236, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
}
.bu{
    color: rgba(149, 149, 149, 1);
    font-weight: 500;
    padding: 10px;
}
#tableHeadings{
    text-align: start;
    padding: 10px 19px;
    background-color:rgba(245, 245, 245, 1) ;
    border: 1px solid rgba(217, 217, 217, 1);
    color: rgba(103, 103, 103, 1);
    font-weight: 600;
}
.TheadItem{
    display: flex;
    justify-content: start;
    align-items: center;
}
.TheadItem div{
    display: flex;
    flex-direction: column;
    
}
.TypDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.ArrowIcons{
    padding: 4px;
    border-radius: 5px;
    color: rgba(103, 8, 204, 1);
    background-color: rgba(255, 225, 211, 1);
}
#BodyData{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 10px 19px;
    border: collapse;
    /* background-color:rgba(245, 245, 245, 1) ; */
    border: 1px solid rgba(217, 217, 217, 1);
}
#BuyerBtn{
    border: 1px solid rgba(41, 185, 95, 1);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 600;
    color: rgba(41, 185, 95, 1);
    background-color: rgba(184, 238, 204, 1);
}
#BuyeBtnOffline{
    border: 1px solid rgba(103, 103, 103, 1);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 600;
    color: rgba(103, 103, 103, 1);
    background-color: rgba(217, 217, 217, 1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;    
}

th, td {
  border: 1px solid #ececec;
  padding: 8px 12px;
  white-space: nowrap;     
  height: auto;           
}


thead th {
  position: sticky;
  top: 0;
  background: #eaeaea;
  z-index: 2;
}


td:last-child, th:last-child {
  position: sticky;
  right: 0;
  background: #fff;
  z-index: 3;
}

.statusBtn {
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border: none;
  cursor: default;
}

.status-completed {
  background-color:rgba(41, 185, 95, 1);
}

.status-upcoming {
  background-color: rgba(250, 176, 32, 1);
}

.status-follow-up {
  background-color:rgba(39, 125, 255, 1);
}

.status-rescheduled {
  background-color:rgba(130, 16, 251, 1);
}

.status-overdue {
  background-color:rgba(211, 10, 13, 1);
}

.status-in-progress {
  background-color: rgba(234, 110, 50, 1);

}

.status-ongoing {
  /* background-color:rgba(41, 185, 95, 1); */
  background-color: rgba(0, 0, 0, 1);
}

.status-draft {
  background-color:rgba(103, 103, 103, 1);
}

.status-archived {
  background-color:rgba(250, 196, 197, 1);
  color: rgba(211, 10, 13, 1);
  border: 1px solid rgba(211, 10, 13, 1);
}