#NavBarMAinDiv{
    height: 72px;
    width: 100%;
    padding: 16px 25px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px -2px gray;
    
}
#NavBarMAinDivActive{
    height: 72px;
   
    padding: 16px 25px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 10px 2px 10px -2px gray;
    position: absolute;
    z-index: 99;
    width: 75%;
    right: 0px;
}
#Hamburger{
    width: 25px;
    height: 25px;
}
#SearchIcon{
    border: 1px solid rgba(236, 236, 236, 1);
    border-radius: 6px;
    height: 40px;
    width: 388px;
    font-size: 12px;
    padding-left: 60px;
    color: rgba(167, 167, 167, 1);
    background-color: rgba(248, 250, 253, 1);
}
#SearchIconeGlass{
    position: relative;
    left: -417px;
    top: 4px;
}