.icon-img-wrapper {
  background-color: #555;
  border-radius: 50%;
  padding: 6px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.icon-img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}