@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
#SideNavMainDiv{
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 13px gray;
    position: absolute;
    z-index: 99;
    left: -315px;
    transition: all 0.5s ease;
}
#SideNavMainDivActive{
    width: 23%;
    position: absolute;
    z-index: 49;
    left: 0px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 13px gray;
}
#SideLogoDiv{
    padding: 10px;
    /* border: 1px solid black; */
    height: 72px;
}
#SideLogoInnerDiv{
    height: 65px;
    padding: 2px 10px 8px 10px;
    margin-bottom: -20px;
    /* border: 1px solid black; */

}
#sideDivMenu{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    gap: 10px;
    padding: 10px;
}
.sideMenuDIV{
    padding: 8px 10px 8px 20px;
    height: 45px;
    width: inherit;
    /* background-color: blue; */
    color: rgba(103, 103, 103, 1);
    display: flex;
    /* justify-content: start; */
    
}
.sideMenuDIV:hover{
    border-radius: 50px;
    background-color: rgba(234, 217, 255, 1);
    color: rgba(130, 16, 251, 1);
}

.sideMenuDIV div{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid black; */
}
.sideDivMenuImg{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
